#bckrnd {
    background-image: url("https://miami.bootcampcontent.com/Miami-Boot-Camp/MIACOR201805FSF1/raw/master/01-Week/Homework/Solutions/recommended-homework-solution/assets/images/concrete_seamless.png");
}

#navName {
    background-color: #4aaaa5;
}

#jumbo {
    background-color: transparent;
<<<<<<< HEAD
}

h3 {
    border-bottom: #cccccc solid;
    color: #4aaaa5;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 20px;
}
=======
}
>>>>>>> f5fe8742c3191065f60379178abe8c846dd3c1ad
